/** Add css rules here for your application. */

h1 {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

body, td, a, div, .p {
    font-family: arial, sans-serif
}

.entityListHeader {
    background-color: #00affe;
    color: white;
    font-size: 12em;
}

.errorMessage {
    color: red;
}

