<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
   <listener>
       <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
   </listener>

    <servlet>
        <servlet-name>StudentService</servlet-name>
        <servlet-class>com.SSDM.server.impl.StudentServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StudentService</servlet-name>
        <url-pattern>/SSDM/StudentService</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>StudentGroupService</servlet-name>
        <servlet-class>com.SSDM.server.impl.StudentGroupServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StudentGroupService</servlet-name>
        <url-pattern>/SSDM/StudentGroupService</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SubjectService</servlet-name>
        <servlet-class>com.SSDM.server.impl.SubjectServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SubjectService</servlet-name>
        <url-pattern>/SSDM/SubjectService</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>TeacherService</servlet-name>
        <servlet-class>com.SSDM.server.impl.TeacherServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TeacherService</servlet-name>
        <url-pattern>/SSDM/TeacherService</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>MarkService</servlet-name>
        <servlet-class>com.SSDM.server.impl.MarkServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MarkService</servlet-name>
        <url-pattern>/SSDM/MarkService</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>FileUploadServlet</servlet-name>
        <servlet-class>com.SSDM.controler.servlet.UploadFileServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FileUploadServlet</servlet-name>
        <url-pattern>/SSDM/FileUpload</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>SSDM.html</welcome-file>
    </welcome-file-list>
</web-app>